body{
background: #79a1e5;
font-family: "Arial", Verdana, sans-serif;
display:flex;
flex-direction: column;
margin: 0px;
}

nav{
	width:100%;
	font-size: 1em;
	display: block;
/* 	overflow: hidden; */
}
/* Falling money CSS animation */
/* https://premiumcoding.com/css3-tricks-falling-Leaves-css/ *//

.container{
	top:0px;
	background:#fff;
	width:100%;
	height:100%;
	position:absolute;
	left:0%;
	background:#1E1E20 url(../img/dollar_bill.png) center top no-repeat;
}

.fallingMoney {
  text-align: center;
	display:none;
	width:100%;
}
.fallingMoney span {
  display: inline-block;
  width: 70px;
  height: 70px;
	margin: -280px 40px 54px -34px;
	background:url("../img/dollar_bill.png");
  
	animation-name: fallingMoney;
  animation-duration: 5s;
	animation-direction: linear;
	animation-iteration-count: 3;
}
.fallingMoney span:nth-child(5n+5) {
  animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.fallingMoney span:nth-child(3n+2) {
  animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.fallingMoney span:nth-child(2n+5) {
  animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.fallingMoney span:nth-child(3n+10) {
	animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.fallingMoney span:nth-child(7n+2) {
  animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.fallingLeaves span:nth-child(4n+5) {
  animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.fallingLeaves span:nth-child(3n+7) {
  animation-delay: 8s;
  animation-delay: 8s;
}

@keyframes fallingMoney {
  0% {
  opacity: 0;
	transform: translate(0, 0px) rotateZ(0deg);
  }
	25% {
  opacity: 1;
	transform: translate(50, 300px) rotateZ(90deg);
  }
  75% {
  opacity: 1;
	transform: translate(100px, 600px) rotateZ(270deg) skewX(20deg, 10deg); 
  }
  100% {
  opacity: 0;
	transform: translate(150px, 800px) rotateZ(360deg);
  }
}
/* Nav Bar Refresh Animation -------------------------- */
/*https://www.w3schools.com/howto/howto_css_loader.asp*/
#refresh:hover{
	border: 7px solid #f3f3f3;
  border-top: 7px solid #3498db; 
  border-radius: 50%;
  width: 38px;
  height: 38px;
  animation: spin 2s linear infinite;
	margin-right: auto; /* To keep nav bar from resizing as :hover re-adjusts width */
	margin-left: auto;
	font-size: 0px; /* To 'remove' refresh text */
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	order:-1;

	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding:0px;
	
}
.navBar{
	height: 38px;
	}	
a{
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
}
a:visited{ /*To Stop refresh link from being dark purple */
	color:black;
}
a:hover{
	background:lightgrey;
	cursor: pointer;
}
footer{
	background:#4d7fd6;
	padding: 20px;
	margin-bottom: 0%;
}
/* Youtube Player CSS */
#player{
	position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
	width: 500px;
	height: 304px;
	display: none;
}

/* First section of information, this includes streamer of the week
			and first article */
#first-section{
	display:flex;
	flex-direction:column;
	}
	#first-section article{
		order:1;
		margin-left: auto;
		margin-right: auto;
		border-top-style: solid;
		border-top-width: 5px;
		}
		#first-section article h1{
			text-align: center;
		}
		#first-section article form{
			border-style: solid;
			border: 5px;
			background: #4d7fd6;
			text-align: left;
			width: 300px;
			padding: 15px;
		}
		#first-section article form .formTitle{
			margin: 5px 5px 5px 10px;
		}
		#first-section article form .formInput{
      margin: 5px 5px 5px 10px;
		}
		#first-section aside{
			order: 0;
			margin-left: auto;
			margin-right: auto;
		}
		#first-section aside h2{
			text-align: center;
		}
		#first-section aside p{
			text-align: center;
		}
		#vodShow, #vodRemove{
			margin-left: 45%;
			margin-right: 45%;
			text-align:center;
			align-items: center;
			margin-top: 10px;
			margin-bottom: 10px;
			background: #4d7fd6;
			border: none;
			padding: 10px;
		}
		#vodShow:hover, #vodRemove:hover{
			background: lightgrey;
		}
    #vodRemove{
		display:none;
		}			
		#twitch-vod{
			width:401px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 25px;
		}

	/**************************** SlideShow CSS *********************/
	/* https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
    margin-left: 5%;
	margin-right: 5%;
	width: 450px;

}

/* Hide the images by default */
.mySlides {
  display: none;
	text-align: center;

}
.sotwimg{
	width: 380px;
	height: 300px;
	order:0;
	border-style: solid;
}

/* Next & previous buttons */
.prev1, .next1 {
  cursor: pointer;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  padding: 10px;
}

.next1 {
	order:1;
}

.prev1{
	order:-1;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  height: 2em;
  order:2;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dotholder{
	text-align: center;
}
.dot {
  cursor:pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}	
			
	/*************************** First Breakpoint ********************/		
			
@media only screen and (min-width: 550px) {
	nav{
		display:flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: center;
		width: 600px;
		font-size: 1.3em;
		}
		ul{
			flex-direction: row;
			justify-content: center;
			}
			.navBar{
				width: 150px;
				height: 44px;
			}
      #refresh:hover{
				width: 40px;
			  height: 40px;
				margin-right: 55px; /* To keep nav bar from resizing as :hover re-adjusts width */
	      margin-left: 55px;
			}			
		a{
			width: 25%;
			padding-top: 10px;
			padding-bottom: 10px;
			}
			a:hover{
				background:white;
				}
	
	/* First section of information, this includes streamer of the week
			and first article */
			#first-section{
				width: 600px;
				margin-left: auto;
				margin-right: auto;
			}
			#first-section article{
				width: 100%;
			}
			#first-section article form{
			margin-left: auto;
			margin-right: auto;
			width: 600px;
			}
			#first-section article form .formTitle{
			  margin: 5px 5px 5px 10px;
		  }
		  #first-section article form .formInput{
        margin: 5px 5px 5px 10px;
		  }
			#first-section article h3{
				padding: 5px 5px 5px 5px;
			}
		  #first-section aside .dot {
			  height: 15px;
			  width: 15px;
			}
			#first-section aside .slideshow-container{
				width: 100%;
				margin-left:auto;
				margin-right:auto;
			}
			
	#player{
		width: 800px;
	  height: 487px;
}

/**************************** Second Breakpoint ************************/

@media only screen and (min-width: 1300px) {
	nav{
		font-size: 1.7em;
		width:700px;
	}
	.navBar{
		width: 175px;
		height: 72px;
		}
		#refresh:hover{
			width: 65px;
			height: 65px;
			margin-right: 55px; /* To keep nav bar from resizing as :hover re-adjusts width */
			margin-left: 55px;
			}		
	a{
		width: 25%;
		padding-top: 20px;
		padding-bottom: 20px;
			}
	a:hover{
		background:#dce7f7;
		}
		
		/* First section of information, this includes streamer of the week
			and first article */
		
		#first-section{
			flex-direction:row;
			width: 100%;
			}
			#first-section article{
				order:0;
				width:50%;
				
			  border-right-style: solid;
			  border-right-width: 3px;
			  border-top-style: none;
				}
				#first-section article h3{
					margin-left: auto;
				  margin-right: auto;
		    	width: 600px;
				}
				#first-section aside{
					order: 1;
					width: 50%;
					}
					#first-section aside p{
						width: 70%;
						margin-left: auto;
						margin-right: auto;						
						}
						#first-section aside .slideshow-container{
							width:450px;
							margin-left: auto;
							margin-right: auto;
						}
}

