body{
background: lightblue;
font-family: "Arial", Verdana, sans-serif;
display:flex;
flex-direction: column;
}

nav{
	width:100%;
	font-size: 1em;
}

ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	order:-1;

	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding:0px;
	
}
a{
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width:100%;
}
a:hover{
	background:lightgrey;
}
/* First section of information, this includes streamer of the week
			and first article */
#first-section{
	display:flex;
	flex-direction:column;
	}
	#first-section article{
		order:1;
		margin-left: auto;
		margin-right: auto;
		
		border-top-style: solid;
		border-top-width: 5px;
		}
		#first-section article h1{
			text-align: center;
		}
		#first-section aside{
			order: 0;
			margin-left: auto;
			margin-right: auto;
		}
		#first-section aside h2{
			text-align: center;
		}
		#first-section aside p{
			text-align: center;
		}
		#twitch-vod{
			width:401px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 25px;
			}

	/**************************** SlideShow CSS *********************/
	/* https://www.w3schools.com/howto/howto_js_slideshow.asp */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
    margin-left: 5%;
	margin-right: 5%;
	width: 450px;

}

/* Hide the images by default */
.mySlides {
    display: none;
	text-align: center;

}
.sotwimg{
	width: 380px;
	height: 300px;
	
	order:0;
	
	border-style: solid;
}

/* Next & previous buttons */
.prev1, .next1 {
  cursor: pointer;
  align-self: center;
  width: 50px;
  height: 50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  padding: 10px;
}

.next1 {
	order:1;
}

.prev1{
	order:-1;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  height: 2em;
  
  order:2;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
}

/* The dots/bullets/indicators */
.dotholder{
	text-align: center;
}
.dot {
  cursor:pointer;
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}	
			
			
			
			
	/*************************** First Breakpoint ********************/		
			
@media only screen and (min-width: 550px) {
    body {
        background: #dce7f7;
    }
	nav{
		display:flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: center;
		width: 600px;
		font-size: 1.3em;
		}
		ul{
			flex-direction: row;
			justify-content: center;
			}
		a{
			width: 25%;
			padding-top: 10px;
			padding-bottom: 10px;
			}
			a:hover{
				background:white;
				}
	
	/* First section of information, this includes streamer of the week
			and first article */
			#first-section{
				width: 600px;
				margin-left: auto;
				margin-right: auto;
			}
			#first-section article{
				width: 100%;
			}
			
			#first-section aside .dot {
				height: 15px;
				width: 15px;
				}
				#first-section aside .slideshow-container{
					width: 100%;
					margin-left:auto;
					margin-right:auto;
				}
}

/**************************** Second Breakpoint ************************/

@media only screen and (min-width: 1300px) {
    body {
        background: #5998ff;
    }
	nav{
		font-size: 1.7em;
	}
	a{
		width: 25%;
		padding-top: 20px;
		padding-bottom: 20px;
			}
	a:hover{
		background:#dce7f7;
		}
		
		/* First section of information, this includes streamer of the week
			and first article */
		
		#first-section{
			flex-direction:row;
			width: 100%;
			}
			#first-section article{
				order:0;
				width:50%;
				
			  border-right-style: solid;
			  border-right-width: 3px;
			  border-top-style: none;
				}
				#first-section aside{
					order: 1;
					width: 50%;
					}
					#first-section aside p{
						width: 70%;
						margin-left: auto;
						margin-right: auto;						
						}
						#first-section aside .slideshow-container{
							width:450px;
							margin-left: auto;
							margin-right: auto;
						}
}

